- var image_cap = 'images/projects/project_src.png'
//- - var image_cap = 'constructocat2.jpg'

mixin project(projectsList = [])
	each project in projectsList
		if project
			.project
				.project__image
					img.project__image-src(src=`${project.image || image_cap}`)
				.project__info
					h3.project__info-name!= project.name
					if project.description
						each desc in project.description
							p.project__info-description!= desc
					if project.link
						p.project__info-link
							each link in project.link
								a(href=link.href, target="_blank")!=link.title || 'View Project'
					if project.techstack && project.techstack.length > 0
						ul.project-tech-list
							each tech in project.techstack
								li.project-tech-list__item!= tech